@use "../global/variables" as *;
@use "../global/mixin" as *;

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg;
  background-size: cover;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $black;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
}

.banner__title {
  margin-top: 1rem;
}

@include desktop {
  .banner {
    max-width: 80.5rem;
    min-height: 12.5rem;
    background-image: url("../assets/images/img/banner/bg.jpg");
  }
}

@include tablet {
  .banner {
    max-width: 48rem;
    min-height: 12.5rem;
    font-size: 2rem;
    background-image: url("../assets/images/img/banner/bg-tablet.jpg");
  }
}

@include mobile {
  .banner {
    font-size: 1.38rem;
    min-height: 12.5rem;
    background-image: url("../assets/images/img/banner/bg-mobile.jpg");
  }
}