@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.card-aside__item {
  background-color: $white;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.card-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (min-width: $tablet) {
    flex-direction: row;
    display: flex;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.card-aside__price-wrapper span {
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 150%;
  color: $black;
}

.card-aside__price-wrapper {
  padding: 0.5rem;
}

.card-aside__wrapper {
  display: flex;
  justify-content: center;
}

.card-aside__wrapper img {
  height: 5rem;
  width: 8.6rem;

  @media (min-width: $tablet) {
    height: 6.25rem;
    width: 10.6rem;
  }
}