@use "../global/variables" as *;
@use "../global/mixin" as *;

.card__list {
  display: flex;
  justify-content: space-between;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 84px 0 40px 0;
}

.card__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 150%;
  margin: 0;
}

.card__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  font-family: $rubik;
  color: $black;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

@include tablet {
  .card__item {
    &--hidden {
      display: none;
    }
  }
}

@include mobile {
  .card__wrapper {
    margin: 2.5rem 0 2.5rem 0;
  }

  .card__title {
    font-size: 1.7rem;
  }

  .card__list {
    flex-direction: column;
    gap: 2.5rem;
  }
}