.catalog-btn__svg {
  display: none;
}

.catalog-btn {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 8.75rem;
  height: 2.5rem;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}