@use "../global/mixin" as *;
@use "../global/viewports" as *;

.catalog-btn__svg {
  display: block;

  &--open {
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &--close {
    display: none;
  }
}

.catalog-btn__text {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.catalog-btn {
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  width: 2.5rem;
  height: 2.5rem;
  order: 3;

  @media (min-width: $tablet) {
    width: 2.5rem;
    height: 2.5rem;
    order: 2;
  }

  @media (min-width: $desktop) {
    width: 8.75rem;
    height: 2.5rem;
  }
}