@use "../global/mixin" as *;

.catalog-btn__svg {
  display: none;
}

.catalog-btn {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 8.75rem;
  height: 2.5rem;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

@include tablet {
  .catalog-btn__svg {
    &--open {
      display: block;
    }
  }

  .catalog-btn__text {
    display: none;
  }

  .catalog-btn {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@include mobile {
  .catalog-btn__svg {
    &--open {
      display: block;
    }
  }

  .catalog-btn__text {
    display: none;
  }

  .catalog-btn {
    width: 2.5rem;
    height: 2.5rem;
    order: 3;
  }
}