@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.catalog {
  background-color: $bg;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2.5rem 0 3rem;
  justify-content: center;

  @media (min-width: $tablet) {
    margin: 3.75rem 0 3rem;
  }
}

.catalog-list__title {
  font-family: $rubik;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 150%;
  color: $white;
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  z-index: 100;
  margin: 0;
}

.catalog-list__link {
  position: relative;
}

.catalog-list__img {
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px rgb(63 63 63 / 60%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: saturate(1.2) brightness(0.85);

  @media (min-width: $tablet) {
    width: 21.5rem;
    height: 13rem;
  }

  @media (min-width: $desktop) {
    width: 100%;
    height: 100%;
  }
}

.catalog__nav {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: $gray-hardest;
  flex-wrap: wrap;
}

.catalog__svg {
  transform: rotate(270deg);
}

.catalog-list__item {
  transition: opacity 0.4s ease;
  
  &:hover {
    opacity: 0.95;
  }
}

.catalog-list__img {
  transition: opacity 0.4s ease;
}

.catalog-list__item:hover .catalog-list__img {
  opacity: 0.95;
}

.catalog-list__link {
  display: block;
  transition: opacity 0.4s ease;
  
  &:hover {
    opacity: 0.95;
  }
}