@use "../global/mixin" as *;
@use "../global/viewports" as *;

.contacts__link {
  display: flex;
  gap: 8px;
  font-weight: 500;
  align-items: center;
}

.contacts__info {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;

  @media (min-width: $tablet) {
    display: block;
    order: 3;
  }
}