@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.conditions {
  margin: 5rem 0 2.5rem;

  @media (min-width: $tablet) {
    margin: 120px 0 40px;
  }
}

.conditions__title {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 150%;
  margin: 0;
  margin-bottom: 40px;
  font-family: $rubik;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 2.25rem;
  }
}

.conditions__item {
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg;
  background-size: cover;
  max-width: 36rem;
  border-radius: 8px;
  width: 100%;
  height: 27.5rem;

  &--first {
    background-image: url("../assets/images/img/conditions/img-1-mobile.jpg");
  }

  &--second {
    background-image: url("../assets/images/img/conditions/img-2-mobile.jpg");
  }

  @media (min-width: $tablet) {
    max-width: 45.5rem;
    height: 27.5rem;

    &--first {
      background-image: url("../assets/images/img/conditions/img-1-tablet.jpg");
    }

    &--second {
      background-image: url("../assets/images/img/conditions/img-2-tablet.jpg");
    }
  }

  @media (min-width: $desktop) {
    width: 100%;
    height: 33rem;

    &--first {
      background-image: url("../assets/images/img/conditions/img-1.jpg");
    }

    &--second {
      background-image: url("../assets/images/img/conditions/img-2.jpg");
    }
  }
}
.conditions__subtitle {
  font-weight: 700;
  line-height: 150%;
  color: $white;
  margin: 1.5rem 1rem;
  font-size: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    margin: 1.5rem 3.6rem;
    font-size: 2rem;
  }
}

.conditions__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 2.5rem;
  }
}

.conditions__subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: $white;
  margin: 1.5rem 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}