@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.filter__category-btn {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: $gray-hardest;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: auto;
  height: 4rem;
  background-color: $gray-lightest;
  cursor: pointer;
  font-family: $rubik;

  @media (min-width: $tablet) {
    width: 13.75rem;
    height: 2rem;
  }

  &:hover {
    background-color: $brown-primary;
    color: $white;
  }
}

.filter__categories {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 3.75rem 0 2.5rem;
  justify-content: center;

  @media (min-width: $desktop) {
    justify-content: flex-start;
  }
}

.filter__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  @media (min-width: $desktop) {
    grid-template-columns: 1.1fr 3fr;
  }
}