@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.filter-form__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: $black;
  padding: 10px 199px 10px 10px;
  background-color: $gray-lightest;
  border-radius: 0.25rem;
}

.filter-form__inputs input {
  border: 1px solid $gray-light;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: 7.75rem;
  height: 2.5rem;
  background-color: $white;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  color: $black;
  font-family: $rubik;
}

.filter-form__clear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
}

.filter-form__button {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 5.31rem;
  height: 2rem;
  background-color: $gray-lightest;
  border: none;
  cursor: pointer;
  font-family: $rubik;
  color: $black;

  &:hover {
    background-color: $brown-primary;
    color: $white;
  }
}

.filter-form__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 13px;
}

.filter-form__price {
  position: relative;
  height: 6px;
  margin: 20px 0;
}

.filter-form__track {
  position: absolute;
  width: 100%;
  height: 6px;
  background: $button-bg;
  border-radius: 3px;
}

.filter-form__range {
  position: absolute;
  height: 6px;
  background: $brown-primary;
  border-radius: 3px;
}

.filter-form__input {
  position: absolute;
  width: 100%;
  height: 6px;
  background: none;
  pointer-events: none;
  appearance: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;
    background: $white;
    border: 3px solid $brown-primary;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &::-webkit-slider-runnable-track {
    background: none;
  }
}

.filter-form__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.filter-form__submit {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 17rem;
  height: 2.5rem;
  background-color: $brown-primary;
  color: $white;
  border: none;
  font-family: $rubik;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    opacity: 0.85;
  }
}
