@use "../global/mixin" as *;

.footer-site {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  flex-wrap: wrap;
}

@include tablet {
  .footer-site {
    width: 21.8rem;
    column-gap: 1rem;
    row-gap: 8px;
  }
}

@include mobile {
  .footer-site {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}