@use "../global/mixin" as *;
@use "../global/viewports" as *;

.footer-site {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  gap: 16px;

  @media (min-width: $tablet) {
    width: 21.8rem;
    column-gap: 1rem;
    row-gap: 8px;
  }

  @media (min-width: $desktop) {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}