@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.footer {
  padding: 46px 0;
  background-color: $bg-footer;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  display: contents;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    order: 2;
  }
}