@use "../global/variables" as *;

.form-comment {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.form-comment button {
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 11.75rem;
  height: 2.5rem;
  border: none;
  background-color: $pink-btn;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: $brown-primary;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: $green-btn;
  }
}

.form-comment textarea {
  border: 1px solid $gray-light;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: 43rem;
  height: 6.25rem;
  font-family: $rubik;
}

.form-comment__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 150%;
  color: $black;
  gap: 1rem;
}