@use "../global/variables" as *;
@use "../global/mixin" as *;

.logo {
  display: flex;
  flex-direction: row;
  gap: 17px;
  padding-right: 24px;
  align-items: center;
}

.logo__text {
  line-height: 150%;
  font-weight: bold;
  font-size: 18px;
  color: $brown-secondary;
}

@include tablet {
  .logo__text {
    display: none;
  }

  .logo {
    padding-right: 0;
  }
}