@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-right: 0;
  order: 1;

  @media (min-width: $tablet) {
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 17px;
    padding-right: 24px;
    align-items: center;
  }
}

.logo__text {
  line-height: 150%;
  font-weight: bold;
  font-size: 18px;
  color: $brown-secondary;
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    text-wrap-mode: nowrap;
  }
}