@use "../global/variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
  align-items: center;
  background-color: $white;
}

.nav__wrapper-one,
.nav__list {
  display: flex;
  align-items: center;
}

.nav__wrapper-one {
  width: 46rem;
  gap: 16px;
}

.nav__wrapper-two {
  width: 30rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  gap: 8px;

  &--user {
    flex-direction: row;
  }
}

.nav__list {
  gap: 24px;
  justify-content: flex-end;
}

.nav__text {
  &--user {
    font-size: 1rem;
  }
}
