@use "../global/variables" as *;
@use "../global/mixin" as *;

.product-card {
  width: 17rem;
  height: 22.5rem;
  background: $white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-4px);
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__discount {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: $brown-primary;
    color: $white;
    border-radius: 4px;
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }

  &__favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    background: $white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #ff8a00;
    }
  }

  &__info {
    padding: 12px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6px;
    height: 2.5rem;
  }

  &__price-left,
  &__price-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.1;

    &:last-child {
      align-items: flex-end;
    }
  }

  &__price-old {
    color: $black-light;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }

  &__price-new {
    color: $black;
    font-weight: 700;
    font-size: 1.12rem;
    line-height: 150%;
  }

  &__price-label {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    color: $gray-light;
  }

  &__title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: $black;
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__rating {
    color: $brown-primary;
    margin-bottom: 12px;
  }

  &__btn {
    display: inline-block;
    width: 100%;
    background: transparent;
    border: 1px solid $brown-primary;
    color: $brown-primary;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: $brown-primary;
      color: $white;
    }
  }
}

.product-card__star {
  color: red;
}


@include tablet {
  .product-card {
    width: 14.06rem;
    height: 21.81rem;
  }
}

@include mobile {
  .product-card {
    width: 100%;
    height: 100%;
  }
}