@use "../global/variables" as *;

.rating-stars {
  display: flex;
  gap: 5px;
}

.star {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star:hover {
  transform: scale(1.1);
}

.star {
  color: $gray-light;
  transition: fill 0.2s ease;
}

.star.active {
  color: $brown-primary;
}

.star.hovered {
  color: $brown-primary;
}