@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.search {
  position: relative;
  width: 100%;
  height: 2.5rem;
  order: 2;

  &:hover .search__input {
    border-color: $black;
  }
}

.search__input {
  width: 100%;
  padding: 10px 42px 10px 16px;
  font-size: 16px;
  border: 1px solid $brown-primary;
  border-radius: 0.25rem;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border-color: $black;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }

  &::placeholder {
    color: $gray-hard;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }
}

.search__btn {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  .search__icon {
    fill: $black;
    transition: fill 0.2s;
  }

  &:hover .search__icon,
  &:focus .search__icon {
    fill: $black;
  }
}