@use "../global/mixin" as *;
@use "../global/viewports" as *;

.social {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;

  @media (min-width: $tablet) {
    display: flex;
    gap: 1rem;
  }
}

.social__link {
  display: flex;
  align-items: center;
}