@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.table-nutrition {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $tablet) {
    justify-content: space-between;
  }
}

.table-nutrition__wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;

  @media (min-width: $tablet) {
    width: 12rem;
  }


  &--right {
    font-weight: 700;
  }

  & br {
    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {
      display: block;
    }
  }
}

.table-nutrition__wrapper span {
  background-color: $gray-lightest;
  padding: 0.5rem;

  &:nth-child(2) {
    background-color: transparent;
  }
}