@use "../global/variables" as *;
@use "../global/viewports" as *;

.user-review__img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: $black;
  margin-bottom: 0.5rem;
}

.user-review__img svg {
  border: 1px solid $white;
  border-radius: 50%;
  padding: 3px;
  width: 25px;
  height: 25px;
}

.user-review__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: $gray-hard;
}

.user-review__wrapper p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  margin: 0.5rem 0 0;
}

.user-review__wrapper {
  margin-bottom: 2.5rem;

  &:first-child {
    margin-top: 2.5rem;

    @media (min-width: $tablet) {
      margin-top: 0;
    }
  }
}