//global
@use "./global/fonts" as *;
@use "./global/variables" as *;
@use "./global/viewports" as *;
@use "./global/visually-hidden" as *;
@use "./global/button";
@use "./global/basic" as *;
@use "./global/mixin" as *;
@use "./global/container";
//components
@use "./components/nav";
@use "./components/catalog-btn";
@use "./components/search";
@use "./components/logo";
@use "./components/footer";
@use "./components/social";
@use "./components/contacts";
@use "./components/footer-site";