@use "../global/viewports" as *;
@use "../global/mixin" as *;

.container {
  padding: 0 16px;
  min-width: 360px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0 20px;
  }

  @media (min-width: $desktop) {
    padding: 0 36px;
    max-width: 1280px;
  }
}
