@use "../global/variables" as *;
@use "../global/mixin" as *;
@use "../global/viewports" as *;

.title {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 150%;
  margin: 0;
  font-family: $rubik;

  @media (min-width: $desktop) {
    font-size: 2.25rem;
  }
}