//color
$black: #414141;
$black-light: #606060;
$white: #ffffff;
$brown-primary: #b2793e;
$brown-secondary: #57330d;
$red: #fb7b7b;
//grayscale
$gray-lightest: #f3f2f1;
$gray-light: #bfbfbf;
$gray-hard: #8f8f8f;
$gray-hardest: #606060;
$bg: #f8e7ce;
$bg-footer: #f9f4e2;
//offers
$special-offer-rose: #fcd5ba;
$special-offer-green: #e5ffde;
//button
$button-bg: #f3f2f1;
// fonts
$rubik: "Rubik", "Arial", sans-serif;