//color
$black: #414141;
$white: #ffffff;
$brown-primary: #b2793e;
$brown-secondary: #57330d;
//grayscale
$gray-lightest: #f3f2f1;
$gray-light: #bfbfbf;
$gray-hard: #8f8f8f;
$gray-hardest: #606060;
$bg: #f8e7ce;
// fonts
$rubik: "Rubik", "Arial", sans-serif;